
<div class="row">
    <h2>Apólice de Seguro</h2>
    <p>Crie um formulário de apólice para seguro automobilístico. Para isso o consultor preencherá: Nome do segurado, o sexo, a idade e o valor do automóvel</p>
</div>
<div class="container">
<div class="row">
   
    <div class="mb-3">
        <label class="form-label">Nome do segurado</label>
        <input style="width: 30%;" type="text" class="form-control" [(ngModel)]="nome" placeholder="Digite seu nome...">
      </div>    
    <div>
        <label>Sexo</label>
        <select style="width: 30%;" class="form-select" [(ngModel)]="sexo"  name="sexo">
            <option value="" disabled selected >Selecione...</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
    </select>
</div>
<div class="mb-3">
    <label class="form-label">Idade</label>
    <input style="width: 30%;" type="email" class="form-control" [(ngModel)]="idade"  placeholder="Digite sua Idade">
  </div> 
  <div class="mb-3">
    <label  class="form-label">Valor do Automóvel</label>
    <input style="width: 30%;"[(ngModel)]="valorA"  type="number" class="form-control">
  </div> 
  <div class="col-md-2">

    <button (click)="resultado()"  class="btn btn-info"  style="margin-top: 24px; margin-bottom: 24px;">Calcular Media</button>
    </div>

<div class="col-md-2">
    <div>
    <label>Valor da Apólice</label>
    <div>
        <input style="margin-bottom: 30%;" [(ngModel)]="total"  type="number" class="form-control">
      </div>
    </div>
</div>
</div>
</div>

