<ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="javascript.void(0);" routerLink="/home" routerLinkActive="active" class="nav-link" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a href="javascript.void(0);" routerLink="/calcularMedia" routerLinkActive="active" class="nav-link" href="#">Calcular Media</a>
    </li>
    <li class="nav-item">
      <a href="javascript.void(0);" routerLink="/calculadora" routerLinkActive="active" class="nav-link" href="#">Calculadora</a>
    </li>
    <li class="nav-item">
      <a href="javascript.void(0);" routerLink="/cadastroAluno" routerLinkActive="active" class="nav-link" href="#">Cadastro Aluno</a>
    </li>
    <li class="nav-item">
      <a href="javascript.void(0);" routerLink="/apoliceSeguro" routerLinkActive="active" class="nav-link" href="#">Apólice de Seguro</a>
    </li>
   
  </ul>

